.footer {
	h4{
		color: $white;
		padding: 10px 0;
	}
	img{
		background-color:$white;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		padding: 3px;
		margin: 10px;
	}
	.git {
		left: 90%;
	}
}