.navigation {
display: flex;
flex-direction: column;

	ul{
		margin-top: 2%;
		display: flex;
		justify-content: space-around;
	}
	li{
		text-align: center;
		font-size: 2rem;
		padding: 15px 15px;
		transition: 0.2s;
		border-radius: 20px;
		height: 5%px;
		width: 10%;
		border: 1px solid transparent;
		color:$white;

		&:hover {
			color: rgb(255, 115, 115);
		}
		a{
			color: $white;
			text-decoration: none;
		}
		.active {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: white;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%) scaleX(0);
				animation: anim 1s forwards;

				@keyframes anim {
					100% {
						transform: translateX(-50%) scaleX(1) ;
					}
				}
			}
		}

	}
}