@import "./setting";
@import "./components/footer";
@import "./components/nav";
@import "./components/headerbg";
@import "./components/home";
@import "./components/intro";
@import "./components/media";
@import "./components/projects";
